@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
}

.app{
  display: flex;
  position: relative;
}

::-webkit.scrollbar {
  width: 10px;
}

/*Track*/
::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}   

::-webkit-scrollbar-track:hover {
  background: #555;
}
/* Custom styles for the login page */
.login-page {
  @apply min-h-screen flex items-center justify-start pl-16 relative overflow-hidden;
  background-size: cover;
  background-position: center;
}

.login-container {
  @apply relative z-10 bg-white rounded-2xl shadow-2xl p-12 w-125 max-w-xl ml-32;
}

.login-form {
  @apply space-y-10 w-full;
}

.login-label {
  @apply block text-sm font-medium text-gray-700 mb-2;
}

.login-input {
  @apply w-full px-4 py-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 outline-none transition-colors;
}

.login-input-password {
  @apply pr-12;
}

.login-button {
  @apply w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 px-4 rounded-lg transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2;
}